* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;    
}

:root {
    --main-orange: #f58634ff;
    --main-green: #00d159ff;
    --main-blue: hsl(184, 71%, 33%);
    --main-yellow: #fac11aff;
}

body {
    overflow-x: hidden;
}

section {
    overflow-x:hidden;
}

.index-background {
    background: url('Images/child-green.jpg');
     /* no-repeat center center fixed; */
}

.lavergne-background {
    background: url('Images/houseimg.jpg') no-repeat center center fixed;
}

.careers-background {
    background: url('Images/happy-baristas.jpg') no-repeat center center fixed;
}

.mobile-logo {
    display: none;
}

#landing-section {
    position: relative;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
    background-position: center center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 0;
    padding: 20px;
    color: rgba(200,200,200, 0.8);
    font-size: 1.2em;
    overflow:visible;
    position: relative;
    width: 95%;
}

#navbar li:hover {
    color:white;
}

#navbar li:hover > a {
    color: white;
}

.nav-focus {
    color: white;
}

a.nav-focus {
    color: white;
}

#navbar li {
    list-style: none;
    cursor: pointer;
}

#navbar > li {
    position:  relative;
    overflow: visible;
}

#navbar li:not(#navbar li:nth-of-type(2)) {
    margin: 0 20px;
    background-image: linear-gradient(90deg, white, white);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: background-size 0.3s ease;
    
}

#navbar li > a {
    text-decoration: none;
    color: rgba(200,200,200, 0.8);
}

#navbar li:hover .sub-menu {
    transform: translateY(0%);
    pointer-events: initial;
    opacity: 1;
}

#navbar > li .sub-menu {
    position: absolute;
    top: 100%;
    left: -25%;
    max-width: 250px;
    min-width: 13ch;
    opacity: 0;
    pointer-events: none;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding:15px;
    line-height: 30px;
    transform: translateY(-5%);
    transition: 0.3s ease all;
    animation-delay: 0.3s;
    overflow: visible;
    text-align:  center;
}

.sub-menu a {
    color: black;
    text-decoration: none;
    padding: 2px 0;
    display: block;
    border-radius: 7px;
}

.sub-menu a:hover {
    background:rgba(24, 136, 144, 0.8);
}

#navbar li:not(#navbar li:first-of-type):hover {
    background-size: 100% 2px;
}

#navbar li:nth-of-type(2) {
    margin-right: auto;
    z-index: 1;
}

#navbar img {
    max-height: 28vh;
}

#burger {
    display: none;
    
}

#burger div {
    height: 6px;
    width: 36px;
    margin: 4px 0;
    background: white;
    border-radius: 4px;
}

#logo {
    z-index: 5;
    margin-right: auto;
}

#circlecorner {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    max-height: 30vh;
}

.banner-text {
    width: 50%;
    margin-top: 1%;
    margin-left: 45%;
    background: rgba(169, 199, 95, 0);
    
}

.banner-text h1 {
    font-size: 2.8em;
    text-align: right;
    margin-bottom: 5%;
    text-transform:uppercase;
    font-weight: 200;
    text-shadow: 0.025em 0.025em 0px black;
}

.banner-text p {
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-align: right;
    width: 80%;
    margin-left: 20%;
    font-family: 'Lora', serif;
    text-shadow: 1px 1px 1px black;
}

#our-mission {
    min-height: 100vh;
    width: 100vw;
    background: white;
}

#our-mission a {
    color: unset;
    text-decoration: none;
}

#our-mission h1 {
    margin-top: 5%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    color: #1fb45dff;
}

#our-mission img {
    height: 25vh;
    width: 25vh;
    float: left;
    margin: 15px 40px 20px 0px;
    border-radius: 50%;
    border: 5px solid #1fb45dff;
    background: #1fb45dff;
    box-sizing: border-box;
}

#our-mission div {
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
}

#our-mission p {
    line-height: 50px;
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Lora', serif;
}

#our-mission span {
    line-height: 50px;
    text-align: justify;
    font-size: 1.8em;
    font-family: 'Dancing Script', cursive;
}

.button-shadow {
    width: 24%;
    margin: 0 38%;
    border: none;
    padding: 5px;
    color: rgba(255, 255, 255, 0.9);
    background: #1fb45dff;
    transition: all 0.3s ease;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 2.5%;
    border-radius: 3px;
    box-shadow: 4px 4px hsl(184, 71%, 33%);
    position: relative;
    text-transform: uppercase;
}

.button-shadow:hover {
    color: white;
    /* letter-spacing: 2px; */
    box-shadow: 0px 0px hsl(184, 71%, 33%);
  
}

#benefits-section {
    min-height:125vh;
    background: #00d159ff;
    position: relative;
    /* overflow-x: unset; */
}

#benefits-section h1 {
    margin-top: 8%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    color: hsl(0, 0%, 100%);
}

#benefits-container {
    margin: 0;
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.card-container {
    height: 400px;
    width:260px;
    position: relative;
    overflow-x: unset;
    margin: 0 2vw;
    border-radius: 8px;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: 0.4s ease all;
    border-radius: 8px;
    overflow-x: unset;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, magenta, orange);
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    color: #1fb45dff;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.back p {
    width: 80%;
    font-size: 20px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}







#programs {
    min-height: 100vh;
    width: 100vw;
    background: white;
    position: relative;
}

#programs h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    color: #18888fff;
}

#program-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    padding-top: 15vh;
}

.program {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 40vw;
    min-height: 16vh;
    overflow-x: visible;
    border-radius: 15px;
    margin-bottom: 18vh;
    position: relative;
}

.program div {
    width: 100%;
    margin-top: 6vw;
    margin-bottom: 3vh;
}

.program button {
    width: 26%;
    margin: 0 37% 3vh 37%;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.program a {
    text-transform: none;
    text-decoration: none;
    color: unset;
}

.program button:hover {
    letter-spacing: 2px;
    background: white;
}

.program p {
    width: 80%;
    margin: 0 10%;

    text-align: justify;
}

.program img {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    position: absolute;
    top: -6vw;
    left: 14vw;
    box-sizing: border-box;
}

.program h2 {
   margin-left: 10%;
    margin-top: 0%;
    color: white;
    text-shadow: 1px 1px black;
}

#logo-footer {
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
    background: hsl(184, 60%, 82%);
    padding: 30px 0;
    border-top: solid 2px   hsl(184, 71%, 33%);
    border-bottom: solid 2px   hsl(184, 71%, 33%);
}

#logo-footer a {
    text-decoration: none;
    color: unset;
}

#logo-footer span {
    margin-right: 1vw;
    font-size: 1.2em;
}

#logo-footer > div {
    z-index: 1;
}

#logo-footer img {
    max-height: 26vh;
}

#footer {
    min-height: 70vh;
    
    color: white;
    background: hsl(184, 20%, 28%);
}

#footer h1 {
    text-align: center;
}

#footer h2 {
    border-bottom: solid white 2px;
    text-shadow: 1px 1px black;
}

#footer-container {
    margin-top: 16vh;
    display: flex;
    justify-content: space-evenly;
}

#footer-container a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(90deg, white, white);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: background-size 0.2s ease;
}

#footer p {
    width: 100%;
    text-align: center;
    margin-top: 11vh;
}

#footer-container li {
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
}

#footer-container li:hover {
    background-size: 100% 2px;
}

#footer-container a:hover {
    background-size: 100% 2px;
}

#info-bubble {
    min-height: 100vh;
    color: white;
    padding: 20vh 0;
    position: relative;
}

#bubble-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#bubble-container > div {
    display: flex;
    align-items: center;
    width: 100%;
  
}

#bubble-container img {
    width: 30vw;
    height: 30vw;
    margin: 0 10vw;
    border-radius: 50%;
    border: 10px solid white;
    background: white;
    box-sizing: border-box;
}

#bubble-container p {
    max-width: 40%;
    margin: 0 5%;
    font-size: 1.1em;
}

.after-circle {
    position: relative;
}

.after-circle:before {
    content: '';
    position: absolute;
    height: 7vw;
    width: 7vw;
    
    background: white;
    bottom: -5%;
    left: 10%;
    z-index: 1;
    clip-path: polygon(0 0, 56% 0, 100% 35%, 100% 49%, 33% 52%, 58% 60%, 100% 73%, 20% 59%, 11% 45%, 58% 35%);
}

.after-circle:after {
    content: '';
    position: absolute;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background: white;
    bottom: -15%;
    left: 30%;
    z-index: 1;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#tour {
    position: relative;
    min-height: 70vh;
    
}

#tour > button {
    margin-bottom: 10vh;
}

#tour h1 {
    text-align: center;
    margin-top: 5%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    color: #1fb45dff;
}

#history {
    min-height: 100vh;
    position: relative;
}

#history h1 {
    color: white;
    text-align: center;
    margin-top: 8%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    text-shadow: 1px 1px black;
}

#history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}

#history-container img {
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    margin-left: 35vw;
    border: 10px solid white;
    background: white;
    box-sizing: border-box;
}

#history-container p {
    width: 70%;
    margin: 5% 15%;
    line-height: 2em;
    text-align: justify;
}

#map-info {
    min-height: 100vh;
    width: 100vw;
    background: white;
}

#map-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10vh;
    height: 70%;
}

#map-container div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#map-container a {
    color: black;
    text-decoration: none
}

#openings {
    position: relative;
    min-height: 140vh;
}

#openings h1 {
    text-align: center;
    margin: 10vh 0;
    color: #18888fff;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
}

#openings h2 {
    font-size: 2em;
    margin-bottom: 2.5vh;
}

#openings > div:first-of-type > a {
    text-decoration: none;
    text-shadow: 1px 1px black;
}

#openings p {
    margin-bottom: 7.5vh;
}

#openings > div:first-of-type {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20vh;
}

#why-us {
    min-height: 100vh;
    margin-bottom: 10%;
    z-index: 1;
}

#why-us h1 {
    text-align: center;
    margin-top: 5%;
    margin: 10vh 0;
    color: #18888fff;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
}

#us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 10vh;
}

#us-container > div {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    
    position: relative;
}

#us-container > div h2 {
    text-align: center;
    color: white;
    margin-top: 40%;
    text-shadow: 1px 1px black;
    z-index: 0;
}

#us-container > div p {
    text-align: center;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    scale: 0;
    transition: 0.25s ease scale;
    transition-delay: 0.3s;
}

#us-container > div > span {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-image: url("Images/bird.jpg");
    background-size: 100% 100%;
    transition: ease-in 0.3s all;
    transform-origin: center;
    top: 0;
    left: 0;
    z-index: 1;
}

#us-container > div:hover span {
    height: 100px;
    width: 100px;
    top: 5%;
    left: calc(50% - 50px);
    border-radius: 50%;
    transition-delay: 0s;
}

#us-container > div:hover p {
    scale: 1;
}

#parent-resources {
    min-height: 100vh;
    position: relative;
}

#parent-resources h1 {
    color: white;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    text-shadow: 1px 1px black;
}

#parent-resources ul {
    width: 100%;
    margin-bottom: 10%;
}

#parent-resources li {
    text-align: center;
    list-style-type: none;
    border: 2px solid white;
    font-size: 1.2em;
    width: 40%;
    margin: 10px 0 10px 30%;
    padding: 20px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#parent-resources a {
    color: unset;
    text-decoration: none;
}

#parent-resources span {
    margin-left: 20px;
}

#parent-resources button {
    width: unset;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#parent-resources button:hover {
    letter-spacing: 2px;
    background: white;
}

#new-button {
    background: white;
    border: 2px hsl(184, 71%, 33%) solid;
    font-size: 1.4em;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    /* z-index: 2; */
}

#new-button div {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    background: hsl(184, 71%, 33%);
    width: 100%;
    height: 100%;
    content: '';
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    pointer-events: none;
    opacity: 0.5;
    
}

#new-button:hover > #button-div {
    animation-name: buttonhover;
}

#new-button:hover #new-button div {
    animation-play-state: running;
    animation-name: buttonhover;
}

@keyframes buttonhover {
    0% {
        width: 100%;
        height: 100%;
        opacity: 1;
        top: 0;
        left: 0;
    }

    100% {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        opacity: 0;
        top: -10px;
        left: -10px;
    }
}

#options-section {
    min-height:100vh;
    background: #00d159ff;
    position: relative;
    z-index: 1;
    /* overflow-x: unset; */
}

.collapse {
    overflow: hidden;
}

.collapse input {
    display: none;
}

.collapse label {
    position: relative;
    font-weight: 600;
    background: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba( 0,0,0, .08);
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    color: #00d159ff;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapse-text {
    max-height: 1px;
    /* overflow: hidden; */
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    
}

.collapse input:checked ~ .collapse-text {
    max-height: 2000px;
    padding-bottom: 25px;
    background: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba( 0,0,0, .08);
    opacity: 1;
    top: 0;
}

.collapse-text p {
    padding: 15px;
    line-height: 30px;
}

#options-section h1 {
    margin-top: 8%;
    text-align: center;
    text-transform:uppercase;
    font-size: 2.8em;
    font-weight: 200;
    color: hsl(0, 0%, 100%);
}

#support-container {
    margin: 5% 0 15% 0;
    
}

#support-container > div {
    
    margin: 10px 0 20px 10%;
    height: unset;
    /* padding: 20px; */
    width: 80%;
    transition: all 0.3s ease;
    position: relative;
}

.collapse-text a {
    text-decoration: none;
}


.visible {
    opacity: 1;
    pointer-events:unset;
}

.gray {
    background: #18888fff;
}

.white {
    background: white;
}

.custom-shape-divider-bottom-1636418370 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1636418370 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1636418370 .shape-fill {
    fill: #FFFFFF;
}

.fill-gray {
    fill: hsl(184, 20%, 28%);
}

.custom-shape-divider-top-1636420668 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1636420668 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1636420668 .shape-fill {
    fill: #FFFFFF;
}

/* Color Styles Here :) */

.orange {
    background: #f58634ff;
}

.orange img {
    border: 10px solid #f58634ff;
}

.orange button {
    color: #f58634ff;
}

.orange-fill {
    fill: #f58634ff;
}

.green {
    background: #00d159ff;
}

.green img {
    border: 10px solid #00d159ff;
}

.green button {
    color: #00d159ff;
}

.blue {
    background: hsl(184, 71%, 33%);
}

.blue img {
    border: 10px solid #18888fff;
}

.blue button {
    color: #18888fff;
}

.yellow {
    background: #fac11aff;
}

.yellow img {
    border: 10px solid #fac11aff;
}

.yellow button {
    color: #fac11aff;
}

@media (min-width: 1500px) {
    .banner-text p {
        font-size: 1.4em;
    }

    #our-mission p {
        font-size: 1.6em;
        line-height: 75px;
    }

    .program p {
        font-size: 20px;
    }

    #history-container p {
        font-size: 20px;
        line-height: 3em;
    }

    #bubble-container p {
        font-size: 1.4em;
        line-height: 2em;
    }
}


@media (max-width: 810px) {

    .mobile-logo {
        display: block;
        max-width: 100%;
        margin-bottom: 20%;
    }

    #landing-section {
        position: relative;
        background-size: cover;
        min-height: 100vh;
        width: 100vw;
        color: white;
        background-position: top center;
        
    }

    #navbar {
        background: #395456;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* min-height: 40vh; */
        margin: 0;
        transition: all 0.3s ease;
        transform: translateY(0%);
        padding: 0 0 8px 0;
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    #navbar li {
        text-align: center;
    }

    #navbar li:not(:first-of-type) {
        display: none;
        
    }


    #navbar li > a {
        text-decoration: underline;
        text-align: center;
        color: white;
    }

    #logo {
        display: none;
    }

    #burger {
        display: block;
        margin-left: 47.5%;
    }

    #navbar > li .sub-menu {
        position: relative;
        opacity: 1;
        transform: translateY(0%);
        max-width: 100%;
        min-width: 100%;
        background: rgba(0,0,0,0);
        box-shadow: 0px 0px 0px;
        left: 0;
        padding: 0;
        margin: 2% 0;
        transform: scaleY(1);
        
    }

    #navbar > li .sub-menu a {
        text-align: center;
        display: inline;
    }

    #navbar li:not(#navbar li:first-of-type):hover {
        background-size: 0px 0px;
        margin: 0;
    }
    
    #navbar li:hover .sub-menu {
        transform: scaleY(1);
        transform-origin: top center;
       
    }

    .banner-text {
        margin-top:20%;
        margin-left: 15%;

        width: 70%;
        background: rgba(169, 199, 95, 0);
    }

    .banner-text h1 {
        font-size: 2.6em;
        text-align: center;
        margin-bottom: 5%;
        text-transform:uppercase;
        font-weight: 200;
        text-shadow: 0.025em 0.025em 0px black;
    }

    .banner-text p {
        line-height: 30px;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        font-family: 'Lora', serif;
        text-shadow: 1px 1px 1px black;
    }

    #benefits-section h1 {
        margin-top: 16%;
        text-align: center;
        text-transform:uppercase;
        font-size: 2.8em;
        font-weight: 200;
        color: hsl(0, 0%, 100%);
    }

    #benefits-container {
        margin: 0;
        display: flex;
        width: 100%;
        height: 90vh;
        padding: 0;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    .card-container {
        height: 300px;
        width: 60%;
        position: relative;
        overflow-x: unset;
        margin: 2vh 2vw;
        border-radius: 8px;
    }

    #program-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 100vh;
        padding-top: 15vh;
        margin-bottom: 10vh;
    }

    .program {
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        width: 60vw;
        min-height: 16vh;
        overflow-x: visible;
        border-radius: 15px;
        margin-bottom: 12vh;
        position: relative;
    }

    .program img {
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        position: absolute;
        top: -10vw;
        left: 20vw;
        box-sizing: border-box;
    }

    .program div {
        width: 100%;
        margin-top: 10vw;
        margin-bottom: 3vh;
    }

    #info-bubble {
        min-height: 60vh;
        padding: 15vh 0;
    }

    #tour {
        min-height: 30vh;
        padding-top: 5vh;
    }

    #history-container {
        padding-bottom: 10%;
    }

    #us-container {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        width: 75vw;
        margin-left: 12.5vw;
        margin-top: 10vh;
    }
    
    #us-container > div {
        height: 280px;
        width: 250px;
        border-radius: 20px;
        background: #18888fff;
        position: relative;
    }

    #us-container > div:hover span {
        height: 80px;
        width: 80px;
        top: 5%;
        left: calc(50% - 40px);
        border-radius: 50%;
        transition-delay: 0s;
    }

    #parent-resources button {
        width: unset;
        margin-right: 20px;
        background: rgba(255, 255, 255, 0.9);
        border: none;
        font-size: 1.1em;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    #logo-footer {
        flex-direction: column;
    }


    

    #options-section h1 {
        margin-top: 15vh;
    }

}

@media (max-width: 600px) {

    .index-background {
        background: url('Images/child-green-mobile.jpg');
         /* no-repeat center center fixed; */
    }

    #landing-section {
        overflow-y: hidden;
        
    }

    .banner-text {
        margin-bottom: 20%;
    }

    #our-mission {
        height: unset;
        width: 100vw;
        background: white;
        padding: 10vh 0;
    }

    #our-mission p {
        line-height: 50px;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Lora', serif;
    }

    #bubble-container > div {
      
        margin: 5vh 0;
      
    }

    /* #navbar {
        background: #395456;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 40vh;
        margin: 0;
        transition: all 0.3s ease;
        transform: translateY(-88%);
        padding: 0 0 8px 0;
        width: 100%;
        position: fixed;
        z-index: 2;
    } */

    #history {
        padding-top: 5%;
    }

    #parent-resources h1 {
        color: white;
        text-align: center;
        margin-top: 22%;
        margin-bottom: 2%;
        text-align: center;
        text-transform:uppercase;
        font-size: 2.8em;
        font-weight: 200;
        text-shadow: 1px 1px black;
    }

    #parent-resources li {
        text-align: center;
        list-style-type: none;
        border: 2px solid white;
        font-size: 1.2em;
        width: 80%;
        margin: 10px 0 10px 10%;
        padding: 20px 0;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-container {
        height: 200px;
        width: 80%;
        position: relative;
        overflow-x: unset;
        margin: 2vh 2vw;
        border-radius: 8px;
    }

    #benefits-container {
        margin: 0 0 15vh 0;
        display: flex;
        width: 100%;
        height: 90vh;
        padding: 0;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    #program-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 100vh;
        padding-top: 15vh;
        margin-bottom: 10vh;
    }

    #program-container p {
        text-align: left;
    }

    .tuition-text h3 {
        display: block;
    }

    #map-container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 5%;
    }

    #map-container div:first-of-type {
        margin: 5% 0 20% 0;
    }

    #map-container p {
        padding: 4% 0;
    }

    #map-container iframe {
        width: 100%;
    }

}

@media (max-width: 500px) {

    #footer-container {
        margin-top: 16vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #logo-footer div {
        display: flex;
        flex-direction: column;
    }

    #footer h2 {
        border-bottom: solid white 2px;
        text-shadow: 1px 1px black;
        text-align: center;
        max-width: 30%;
        margin: 0 35%;
    }

    #footer-container li {
       text-align: center;
    }

    #footer-container div {
        margin-bottom: 5vh;
    }

    #tour {
        min-height: 40vh;
    }

    #our-mission img {
        height: 40vw;
        width: 40vw;
        margin:  5vh 15vw;
        border-radius: 50%;
        border: 4px solid #1fb45dff;
    }

    #our-mission button {
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .button-shadow {
        width: 76%;
        margin-right: 12%;
        margin-left: 12%;
        border: none;
        padding: 5px;
    }

    #history-container {
        padding-bottom: 25%;
    }

    #history-container img {
        border-radius: 50%;
        height: 50vw;
        width: 50vw;
        margin-left: 25vw;
        border: 10px solid white;
        background: white;
        box-sizing: border-box;
    }

    #history-container p {
        margin: 10% 15%;
        line-height: 2em;
        text-align: left;
    }

    .card-container {
        height: unset;
        min-height: 250px;
        width: 80%;
        position: relative;
        overflow-x: unset;
        margin: 2vh 2vw;
        border-radius: 8px;
    }

    #benefits-section {
        min-height: 160vh;
        overflow-y: hidden;
    }


    #benefits-container {
        margin: 0vh 0 60vh 0;
        display: flex;
        width: 100%;
        height: 90vh;
        padding: 0;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }


    #benefits-section h1 {
        margin-top: 30%;
        margin-bottom: 300px;
        text-align: center;
        text-transform:uppercase;
        font-size: 2em;
        font-weight: 200;
        color: hsl(0, 0%, 100%);
    }

    .tuition-text h3 {
        text-align: left;
    }

    .program {
        width: 80vw;
        min-height: 16vh;
        margin-bottom: 16vh;
    }

    .program img {
        height: 30vw;
        width: 30vw;
        top: -15vw;
        left: 25vw;
    }

    .program div {
        margin-top: 15vw;
        margin-bottom: 3vh;
    }

    .program button {
        width: 50%;
        margin: 0 25% 3vh 25%;
        background: rgba(255, 255, 255, 0.9);
        border: none;
        font-size: 1.1em;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    #bubble-container img {
        width: 30vw;
        height: 30vw;
        margin: 0 10vw;
        border-radius: 50%;
        border: 5px solid white;
        background: white;
        box-sizing: border-box;
    }

    #history h1 {
        margin-top: 25%;
    }

    #our-mission .small-h1 {
        font-size: 1.8em;
    }

    #parent-resources {
        min-height: 145vh;
    }

    #support-container {
        margin: 5% 0 30% 0;
        
    }

    .banner-text h1 {
        font-size: 2.0em;
    }

}

@media (max-width: 350px) {

    .banner-text {
        margin-bottom: 30%;
    }

    .card-container {
        height: unset;
        min-height: 300px;
        width: 85%;
        position: relative;
        overflow-x: unset;
        margin: 2vh 2vw;
        border-radius: 8px;
    }

    #benefits-container {
        margin: 50vh 0 75vh 0;
        display: flex;
        width: 100%;
        height: 90vh;
        padding: 0;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

   

    #logo-footer img {
        max-width: 60vw;
    }

    #logo-footer div {
        display: flex;
        flex-direction: column;
    }

    #our-mission img {
        height: 40vw;
        width: 40vw;
        margin:  5vh 15vw;
        border-radius: 50%;
        border: 4px solid #1fb45dff;
    }

    #our-mission button {
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .button-shadow {
        width: 76%;
        margin-right: 12%;
        margin-left: 12%;
        border: none;
        padding: 5px;
        color: rgba(255, 255, 255, 0.9);
        background: #1fb45dff;
        transition: all 0.3s ease;
        font-size: 1.2em;
        cursor: pointer;
        margin-top: 2.5%;
        border-radius: 3px;
        box-shadow: 4px 4px hsl(184, 71%, 33%);
        position: relative;
        text-transform: uppercase;
    }
   
    #benefits-section h1 {
        font-size: 1.8em;
        margin-bottom: 400px;
    }


    .program {
        width: 80vw;
        min-height: 16vh;
        margin-bottom: 16vh;
    }

    .program img {
        height: 40vw;
        width: 40vw;
        top: -20vw;
        left: 20vw;
    }

    .program div {
        margin-top: 22vw;
        margin-bottom: 3vh;
    }

   

    #support-container {
        margin: 5% 0 30% 0;
        
    }

    #bubble-container > div:nth-of-type(2) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
      
    }

    #bubble-container > div:not(#bubble-container > div:nth-of-type(2)) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      
    }

    #bubble-container p {
        max-width: 80%;
        text-align: justify;
    }

    #bubble-container img {
        width: 50vw;
        height: 50vw;
        margin: 0 0 5vh 0;
        border-radius: 50%;
        border: 5px solid white;
        background: white;
        box-sizing: border-box;
    }

    #history-container img {
        border: 5px solid white;
    }

    #map-container {
        width: 100%;
        padding: 10% 0;
    }

    #map-container iframe {
        margin: 0 10%;
        width: 90%;
    }

}

@media (max-width: 300px) {

    #bubble-container p {
        text-align: center;
    }

    #tour {
        min-height: 50vh;
    }

    .button-shadow {
        width: unset;
        min-width: 76%;
        margin: 0 12%;
    }

    .banner-text h1 {
        font-size: 2.0em;
        text-align: right;
        margin-bottom: 5%;
        text-transform:uppercase;
        font-weight: 200;
        text-shadow: 0.025em 0.025em 0px black;
    }

    .banner-text p {
        width: 90%;
        margin-left: 5%;
    }

    .banner-text h1 {
        text-align: center;
    }

    #history {
        padding-bottom: 15%;
        padding-top: 20%;
    }

    #history-container p {
        text-align: left;
    }

    #us-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        width: 100vw;
        margin-left: 0px;
        margin-top: 10vh;
    }
    
    #us-container > div {
        height: 280px;
        width: 250px;
        border-radius: 20px;
        background: #18888fff;
        position: relative;
    }

    #parent-resources h1 {
        color: white;
        text-align: center;
        margin-top: 40%;
        margin-bottom: 2%;
        text-align: center;
        text-transform:uppercase;
        font-size: 2.8em;
        font-weight: 200;
        text-shadow: 1px 1px black;
    }

    #parent-resources ul {
        width: 100%;
        margin-bottom: 60%;
    }

    #parent-resources li {
        flex-direction: column;
        margin-bottom: 30px;
    }

    #parent-resources button {
        width: unset;
        margin-right: 0px;
    }

    #parent-resources span {
        margin-left: 0px;
    }

    #benefits-section h1 {
        font-size: 1.8em;
        margin-bottom: 60vh;
    }

    #benefits-container {
        margin: 50vh 0 75vh 0;
    }

    #map-container {
        width: 100%;
        padding: 10% 0;
    }

    #map-container iframe {
        margin: 0;
        width: 90%;
    }

}